@font-face font-family: "Graphik" {
  src: url("Graphik-Light.f04c63b2.woff2") format("woff2"), url("Graphik-Light.49bea4a3.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Graphik";
  src: url("Graphik-Regular.606e9a48.woff2") format("woff2"), url("Graphik-Regular.f1057a77.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("Graphik-Semibold.6dbb7b28.woff2") format("woff2"), url("Graphik-Semibold.34194300.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Graphik";
  src: url("Graphik-Bold.fc595843.woff2") format("woff2"), url("Graphik-Bold.fc8fdd71.woff") format("woff");
  font-weight: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role=list],
ol[role=list] {
  list-style: none;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  line-height: 1.6;
}
@media (min-width: 641px) {
  body {
    font-size: 18px;
  }
}
h1, h2, h3 {
  line-height: 1.1;
}
picture,
img {
  max-width: 100%;
  height: auto;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  padding: 0.5rem;
}
a {
  text-decoration: none;
}
.border_top {
  border-top: 1px solid #ccc;
  margin: 0 1.5rem;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underline:after {
  content: "";
  display: block;
  height: 3px;
  transition: transform 500ms;
  transform: scaleX(0);
  background: #8CCC00;
}
.underline:hover:after {
  transform: scaleX(1);
}
.active {
  color: #8CCC00;
}
.faded_out {
  opacity: 0;
  transform: translateY(25%);
  transition: opacity 500ms, transform 500ms;
}
.fade_in {
  opacity: 1;
  transform: translateY(0);
}
.card {
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.scroll {
  animation: scroll 25s linear 0s infinite normal forwards;
}
.scroll:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * calc(60vw / 5) * 9 + 4rem));
  }
}
.preloader {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 1;
  transition: opacity 1s, visibility 0s 2s;
  display: grid;
  place-items: center;
}
.preloader img {
  width: 150px;
  animation: pulse 2s linear infinite alternate;
}
@media (min-width: 641px) {
  .preloader img {
    width: 3j0px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.disappear {
  opacity: 0;
  visibility: hidden;
}
#menu_button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  padding: 5px 10px;
  padding-bottom: 20px;
}
@media (min-width: 641px) {
  #menu_button {
    display: none;
  }
}
#bar {
  position: relative;
  transition: background 500ms;
}
#bar, #bar:after, #bar:before {
  width: 30px;
  height: 3px;
  background: #333;
  border-radius: 50px;
}
#bar:after, #bar:before {
  content: "";
  display: block;
  position: absolute;
  transition: transform 500ms;
}
#bar:before {
  top: 7px;
}
#bar:after {
  top: 15px;
}
#menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: scale(0);
  transition: transform 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}
@media (min-width: 641px) {
  #menu {
    all: unset;
    display: flex;
  }
  #menu > * + * {
    margin-left: 2rem;
  }
}
#logo {
  display: block;
}
#logo img {
  width: 120px;
  transition: transform 500ms;
}
#logo img:hover {
  transform: scale(1.3);
}
@media (min-width: 641px) {
  #logo img {
    width: 150px;
  }
}
#toggler {
  display: none;
}
#toggler:checked ~ #menu {
  transform: scale(1);
}
#toggler:checked ~ label #menu_button #bar {
  background: none;
  margin-top: 7px;
}
#toggler:checked ~ label #menu_button #bar:before, #toggler:checked ~ label #menu_button #bar:after {
  top: 0;
}
#toggler:checked ~ label #menu_button #bar:before {
  transform: rotate(45deg);
}
#toggler:checked ~ label #menu_button #bar:after {
  transform: rotate(-45deg);
}
.menu_header {
  text-align: center;
  margin: 2rem 0;
  font-family: "Graphik";
  font-size: 1.5rem;
}
@media (min-width: 641px) {
  .menu_header {
    margin: 4rem 0;
  }
}
@media (min-width: 641px) {
  .menu_header {
    font-size: 2.5rem;
    font-weight: bold;
  }
}
#mail {
  border: 1px solid black;
  border-margin: 2rem 0;
  border-padding: 1rem;
  border-font-weight: bold;
}
.slider {
  width: 60vw;
  overflow-x: hidden;
  margin-top: 3rem;
}
.slider .track {
  display: flex;
  align-items: center;
}
.slider .track > * + * {
  margin-left: 1rem;
}
@media (min-width: 641px) {
  .slider .track > * + * {
    margin-left: 3rem;
  }
}
.slider .track > * {
  flex: 1 0 auto;
}
.slider .track .icon {
  width: 100%;
  max-width: calc(60vw / 5);
  max-height: 15vw;
}
.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero > * {
  position: absolute;
}
.hero__items,
.hero img {
  min-width: 100%;
  min-height: 100%;
}
.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
}
.hero__items h1 {
  color: #8CCC00;
}
.hero__items p {
  color: #ddd;
}
.hero__items > * + * {
  margin-top: 1rem;
}
.hero img {
  object-fit: cover;
}
.description {
  padding: 2rem;
  display: grid;
  place-items: center;
}
.link {
  text-transform: capitalize;
  font-size: 2rem;
  color: #444;
  transition: color 500ms;
}
@media (min-width: 641px) {
  .link {
    font-size: 1rem;
  }
}
.link:hover {
  color: #8CCC00;
}
.icon {
  display: inline-block;
  transition: transform 500ms;
}
.icon:hover {
  transform: scale(1.2);
}
body {
  font-family: "Graphik", sans-serif;
  color: #444;
  background: #eee;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #eee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  transition: transform 500ms;
}
@media (min-width: 641px) {
  header {
    justify-content: space-between;
  }
}
@media (min-width: 641px) {
  header {
    padding: 0.5rem 2rem;
  }
  header label {
    display: none;
  }
  header #logo {
    margin-right: 2rem;
  }
}
#contact a .icon {
  width: 1.5rem;
  margin: 0 1ch;
}
#services {
  padding: 1rem;
}
#services > * + * {
  margin-top: 1rem;
}
#services .service > * {
  height: 50vh;
}
@media (min-width: 641px) {
  #services .service {
    display: flex;
  }
  #services .service > * {
    flex: 50vw;
  }
}
#services .service:nth-child(2n) :nth-child(2n-1) {
  order: 2;
}
#clients {
  display: flex;
  justify-content: center;
}
#about {
  margin: 0 auto;
  padding: 3rem 0;
}
#about > p {
  margin-top: 2rem;
}
#about h2 {
  color: #8CCC00;
}
#contact {
  padding: 1rem;
}
@media (min-width: 641px) {
  #contact {
    display: flex;
  }
  #contact > * {
    flex: 1;
  }
}
#contact #person img {
  width: 150px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
#contact #person h3 {
  margin-top: 1rem;
}
#contact #inputs {
  margin-top: 3rem;
}
@media (min-width: 641px) {
  #contact #inputs {
    margin-top: 0;
  }
}
#contact #inputs input, #contact #inputs textarea, #contact #inputs button, #contact #inputs .button {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
#contact #inputs label p, #contact #inputs button {
  margin-top: 1.5rem;
}
#contact #inputs button, #contact #inputs .button {
  text-align: center;
  padding: 0.5rem 2rem;
  color: #fff;
  background: #8CCC00;
}
footer {
  font-size: 0.8rem;
  padding: 1.5rem;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3a3b3a;
  color: #ddd;
}
@media (min-width: 641px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer a {
  color: #c91e59;
  margin-left: 1ch;
}
footer a:hover {
  font-weight: bold;
}
input, textarea, button {
  border: 1px solid #8CCC00;
}
h1, h2, h3 {
  line-height: 1.1;
  font-family: "Graphik", serif;
}
button {
  font-weight: bold;
  text-transform: uppercase;
}
textarea {
  height: 10ch;
}
body {
  overflow: hidden;
}
@keyframes reel_right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes reel_left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.reel_right_1 {
  animation: reel_right 1s linear calc(var(--scroll) * -2.3s) 1 normal both paused;
}
.reel_left {
  animation: reel_left 1s linear calc(var(--scroll) * -1.8s) 1 normal both paused;
}
.reel_right_2 {
  animation: reel_right 1s linear calc(var(--scroll) * -1.8s) 1 normal both paused;
}
/*# sourceMappingURL=index.8d489b77.css.map */
