doctype html
html
  //- head{{{
  //--------------------------------------
  //               Header
  //--------------------------------------
  head
    title PolyTel
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="shortcut icon" href="../assets/images/logo_icon_only.svg")
    //- link(rel="shortcut icon" href="../assets/images/out.png")

    link(rel="stylesheet", href="styles/index.sass")
    script(src="scripts/index.js" defer)

    link(href="../assets/fonts/fontawesome/css/fontawesome.css" rel="stylesheet")
    link(href="../assets/fonts/fontawesome/css/brands.css" rel="stylesheet")
    link(href="../assets/fonts/fontawesome/css/solid.css" rel="stylesheet")

  // }}}
  //- body{{{
  //- body.faded_out
  body
    //- navigation{{{
    //--------------------------------------
    //               Navigation
    //--------------------------------------
    nav
      input#toggler(type="checkbox")
      label(for="toggler" ): #menu_button: #bar

      a(href="#intro"): #logo: img(src="../assets/images/logo_horizontal.png")
      .menu
        a(href="#intro") home
        a(href="#about") about
        a(href="#product") product
        a(href="#contact") contact
    // }}}
    //- intro{{{
    //--------------------------------------
    //               Intro
    //--------------------------------------
    section#intro.grid.two
      article
        h1.faded_out Ipsum consectetur repellat officia dolor
        p.faded_out Adipisicing saepe nesciunt quas non exercitationem saepe Quibusdam sequi sint ipsa quam quaerat Sapiente neque neque voluptate sit lorem porro quisquam dicta? Magni necessitatibus aspernatur?
      aside.faded_out
        .image_container.leaf: img(src="../assets/images/hero_4.jpg")
    // }}}
    //- about{{{
    //--------------------------------------
    //               about
    //--------------------------------------
    section#about.grid.two
      aside.leaf.moved_left
        .image_container: img(src="../assets/images/hero_4.jpg")
        .image_container: img(src="../assets/images/hero_4.jpg")
        div
        .image_container: img(src="../assets/images/hero_4.jpg")
      article.center.moved_right
        h1 What we do
        p Sit asperiores necessitatibus iste dicta accusamus Laudantium perspiciatis adipisci quas sit rerum? Repellendus asperiores id similique quibusdam adipisci Eveniet doloribus quibusdam officia aliquid velit, cupiditate.
        h4 Adipisicing dolore sed voluptate quae fuga Corrupti aliquid exercitationem voluptatibus eius quo aspernatur, iste. Deleniti?
    // }}}
    //- product{{{
    //--------------------------------------
    //               product
    //--------------------------------------
    section#product.grid.two
      article.center.moved_left
        h1 Our Product
        p Sit pariatur ad voluptatum magnam
        p Sit pariatur ad voluptatum magnam
        p Sit pariatur ad voluptatum magnam
      aside.moved_right

        .product_container.grid.two
          .colored_box
          .image_container: img(src="../assets/images/hero_4.jpg")

        .product_container
          .image_container: img(src="../assets/images/hero_4.jpg")
          .image_container: img(src="../assets/images/hero_4.jpg")
          .image_container: img(src="../assets/images/hero_4.jpg")
    // }}}
    //- quote{{{
    //--------------------------------------
    //               quote
    //--------------------------------------
    section#quote.faded_out
      #quote__container
        i(class="fas fa-quote-left")
        i(class="fas fa-quote-right")
        p Adipisicing laboriosam dignissimos temporibus itaque veritatis. Nesciunt saepe deleniti suscipit soluta corrupti! Blanditiis dignissimos illum veniam architecto similique Soluta sint praesentium impedit ipsa eligendi? Laborum
        h5 -&nbsp
        h5 Wahid Mugdha,
        em &nbsp
        em Entrepreneur
    // }}}
    //- footer{{{
    //--------------------------------------
    //               Footer
    //--------------------------------------
    section#contact.grid.three.leaf
      #footer__logo: img(src="../assets/images/logo_vertical.png").moved_left
      #footer__contact.faded_out
        h3 Contact
        p info@polytel.xyz
        p +8801859637967
      #footer__links.moved_right
        h3 Links
        a(href="#intro") Introduction
        a(href="#about") About
        a(href="#product") Product

        h3 Socials
        a.socials(href="#" target="_blank" rel="noopener noreferrer"): i(class="fab fa-facebook-f")
        a.socials(href="#" target="_blank" rel="noopener noreferrer"): i(class="fab fa-twitter")
        a.socials(href="#" target="_blank" rel="noopener noreferrer"): i(class="fab fa-instagram")
        a.socials(href="#" target="_blank" rel="noopener noreferrer"): i(class="fab fa-linkedin-in")
      p#copyright © 2021 · PolyTel · All Rights Reserved
      p#credit Made with joYY by YY Studios
// }}}
